input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
button[type=button].cancel {
  color: rgba(51, 51, 51, 0.45);
  margin-bottom: .5rem;
}
button[type=button].cancel:hover {
  border: 1px solid rgba(51, 51, 51, 0.65);
  color: rgba(51, 51, 51, 0.65);
  margin-bottom: .5rem;
}
button[type=button].save,
button[type=submit].save {
  border: 1px solid #F22973;
  color: #F22973;
  margin-bottom: .5rem;
}
button[type=button].save:hover,
button[type=submit].save:hover {
  background-color: #F22973;
  color: #FFFFFF;
}
#accordionMenu1 .card {
  background-color: transparent;
  border: none;
}
#accordionMenu1 .card-header {
  background-color: transparent;
  border: none;
  padding: .15rem .25rem;
}
#accordionMenu1 .card-body {
  color: #FFFFFF;
  padding: .5rem .25rem;
}
#accordionMenu1 .card-header .btn-link {
  color: #FFFFFF;
  display: flex;
  padding: .375rem 0;
  text-decoration: none;
  width: 100%;
}
#accordionMenu1 .btn-link i {
  position: absolute;
  right: 6px;
  top: 14px;
}
#addEventModalTitle {
  margin-left: 5%;
  width: 95%;
}
#addEventModalTitle input {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
#add-event button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 100px;
  height: auto;
  outline: none;
  padding: 10px 15px;
  text-align: left;
  width: auto;
}
#add-event i {
  font-size: 25px;
}
#add-event p {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 10px;
  vertical-align: top;
}
#calendar {
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 20px;
  min-height: 220px;
}
#calendar .col-auto {
  cursor: pointer;
  padding: 6px;
  text-align: center;
  width: calc(100%/7);
}
#calendar .col-auto.todayis {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
}
#calendar p {
  font-size: 16px;
}
#calendar_time_day,
#calendar_day,
#calendar_time_week,
#calendar_week {
  margin-top: 60px;
}
#calendar_day i,
#calendar_week i {
  display: none;
}
#calendar_day .new_event.consulta,
#calendar_week .new_event.consulta {
  background-color: #2DE23F;
  border: none;
  color: #FFFFFF;
  position: sticky;
  font-size: 14px;
  height: auto;
  outline: none!important;
  text-align: left;
  width: 100%;
}
#calendar_schedule .new_event.consulta {
  background-color: transparent;
  border: none;
  color: #757575;
  font-size: 14px;
  height: 28px;
  overflow: hidden;
  word-break: break-all;
  outline: none!important;
  text-align: left;
  width: 100%;
}
#calendar_day .new_event.cirugia,
#calendar_week .new_event.cirugia {
  background-color: #E2DB2D;
  border: none;
  color: #FFFFFF;
  position: sticky;
  font-size: 14px;
  height: auto;
  outline: none!important;
  text-align: left;
  width: 100%;
}
#calendar_schedule .new_event.cirugia {
  background-color: transparent;
  border: none;
  color: #757575;
  font-size: 14px;
  height: auto;
  outline: none!important;
  text-align: left;
  width: 100%;
}
#calendar_day .new_event.personal,
#calendar_week .new_event.personal {
  background-color: #2DE2D7;
  border: none;
  color: #FFFFFF;
  position: sticky;
  font-size: 14px;
  height: auto;
  outline: none!important;
  text-align: left;
  width: 100%;
}
#calendar_schedule .new_event.personal {
  background-color: transparent;
  border: none;
  color: #757575;
  font-size: 14px;
  height: auto;
  outline: none!important;
  text-align: left;
  width: 100%;
}
#collapseMenuCalendar {
  background: linear-gradient(to bottom, rgba(250, 38, 127, .7), rgba(246, 54, 77, .7));
  min-height: 610px;
  padding: .5rem .35rem 0;
  width: 256px;
}
#collapseMenuCalendar.collapse:not(.show) {
  display: grid;
  min-height: 610px;
  width: 64px;
}
#collapseMenuCalendar.collapse:not(.show) #add-event p,
#collapseMenuCalendar.collapse:not(.show) #myTabContent {
  display: none;
}
#collapseMenuCalendar.collapse:not(.show) + #container_calendar {
  width: calc(100% - 64px);
}
#collapseMenuCalendar.collapse:not(.show) #myTab {
  border-bottom: none;
  justify-content: center!important;
  margin-left: -.35rem;
  margin-right: -.35rem;
  margin-top: auto;
}
#collapseMenuCalendar.collapse:not(.show) #myTab li {
  width: 100%;
  text-align: center;
}
#collapseMenuCalendar.collapse:not(.show) #myTab .nav-link {
  width: 100%;
  text-align: center;
  padding: 1rem;
}
#collapseMenuSettings {
  background: linear-gradient(to bottom, rgba(250, 38, 127, .7), rgba(246, 54, 77, .7));
  min-height: 84.9vh;
  padding: 76px .35rem 0;
  width: 256px;
}
#collapseMenuSettings .list-menu-settings {
  color: #FFFFFF;
  padding: .5rem .25rem 0;
}
#collapseMenuSettings .title {
  padding: 0 .25rem;
}
#collapseMenuSettings .title p {
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-transform: uppercase;
}
#container_calendar {
  max-height: 610px;
  width: calc(100% - 256px);
}
#container_calendar_2,
#container_calendar_3,
#container_calendar_4 {
  max-height: 610px;
  overflow-y: scroll;
  width: calc(100% - 256px);
}
#container_calendar_2::-webkit-scrollbar,
#container_calendar_3::-webkit-scrollbar,
#container_calendar_4::-webkit-scrollbar {
	width: 4px;
}
#container_calendar_2::-webkit-scrollbar-thumb,
#container_calendar_3::-webkit-scrollbar-thumb,
#container_calendar_4::-webkit-scrollbar-thumb {
	background-color: #33333365;
	border-radius: 5px;
}
#container_calendar .col-auto {
  border: .5px solid #cccccc;
  cursor: pointer;
  height: calc(92.92vh/5);
  padding: 6px;
  text-align: center;
  width: calc(100%/7);
}
#container_calendar_2 .col-auto {
  background-color: #FFFFFF;
  border: .5px solid #cccccc;
  cursor: pointer;
  height: 60px;
  padding: 6px;
  text-align: center;
  width: calc(100%/7);
}
#container_calendar_3 .col-auto {
  background-color: #FFFFFF;
  border: .5px solid #cccccc;
  cursor: pointer;
  height: 60px;
  padding: 6px;
  text-align: center;
  width: calc(100%/7);
}
#container_calendar_2 .col-auto-time {
  border: .5px solid #cccccc;
  cursor: pointer;
  height: 44px;
  padding: 6px;
  text-align: center;
  width: calc(100%/7);
}
#container_calendar_3 .col-auto-time {
  border: .5px solid #cccccc;
  cursor: pointer;
  height: 44px;
  padding: 6px;
  text-align: center;
  width: 100%;
}
#container_calendar_4 .col-auto-time {
  border: .5px solid #cccccc;
  border-left: none;
  cursor: pointer;
  height: 44px;
  padding: 6px;
  text-align: left;
  width: 100%;
}
#container_calendar_2 .col-auto-times,
#container_calendar_3 .col-auto-times {
  border: .5px solid #cccccc;
  cursor: pointer;
  height: 44px;
  padding: 6px;
  text-align: center;
  width: 100%;
}
#container_calendar_4 .col-auto-times {
  border: .5px solid #cccccc;
  border-right: none;
  cursor: pointer;
  font-size: 14px;
  height: 44px;
  padding: 6px;
  text-align: left;
  width: 100%;
}
#container_calendar_2 .col-auto-times p,
#container_calendar_3 .col-auto-times p {
  background-color: #FFFFFF;
  margin: 24px -6px;
  position: sticky;
  width: 80px;
}
#container_calendar .new_event {
  background-color: transparent;
  border: none;
  font-size: 14px;
  height: 25px;
  outline: none!important;
  overflow: hidden;
  text-align: left;
  width: 100%;
  word-break: break-all;
}
#container_calendar p.titleCal,
#container_calendar_2 p.titleCal,
#container_calendar_3 p.titleCal {
  line-height: 16px;
  height: 18px;
  margin: 0 auto;
  width: 40px;
}
#container_calendar p {
  height: 30px;
  margin: 0 auto;
  width: 30px;
}
#container_calendar p.todayis {
  background-color: rgba(250, 38, 127, 0.3);
  border-radius: 100%;
}
#customCheck1:checked~.custom-control-label::after,
.cirugiaTitle i {
  background-color: #E2DB2D;
  background-image: none;
  border: 1px solid #E2DB2D;
  border-radius: 0.15rem;
  color: #E2DB2D;
}
#customCheck2:checked~.custom-control-label::after,
.consultaTitle i {
  background-color: #2DE23F;
  background-image: none;
  border: 1px solid #2DE23F;
  border-radius: 0.15rem;
  color: #2DE23F;
}
#customCheck3:checked~.custom-control-label::after,
.personalTitle i {
  background-color: #2DE2D7;
  background-image: none;
  border: 1px solid #2DE2D7;
  border-radius: 0.15rem;
  color: #2DE2D7;
}
#customCheck4:checked~.custom-control-label::after,
#customCheck5:checked~.custom-control-label::after {
  background-color: #FA267F;
  background-image: none;
  border: 1px solid #FA267F;
  border-radius: 0.15rem;
}
#my_calendar {
  max-height: 84.9vh;
  overflow-y: scroll;
  width: calc(100% - 256px);
}
#my_calendar::-webkit-scrollbar {
	width: 8px;
}
#my_calendar::-webkit-scrollbar-thumb {
	background-color: #f5f5f5;
	border-radius: 5px;
	border: 1px solid #f5f5f5;
}
#my_calendar i.toggle-icon {
  font-size: 25px;
}
#my_calendar [aria-expanded="true"] .fas:before {
  color: #f22973;
  content: "\f205";
}
#my_events .card [aria-expanded="false"] .fas:before {
  content: "\f078";
}
#my_events .card [aria-expanded="true"] .fas:before {
  content: "\f077";
}
#myTimes [aria-expanded="true"] .far:before {
  color: #f22973;
  content: "\f058";
}
#myTab {
  border-bottom: none;
  margin-right: -.35rem;
}
#myTab .nav-link {
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: .5rem 1.25rem;
}
#myTab .nav-item.show .nav-link,
#myTab .nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #FFFFFF;
}
#myTabContent {
  height: 488px;
  margin-top: 20px;
}
#navbar-calendar,
#navbar-settings {
  height: 46px;
  padding: 0.2rem 1rem;
}
#pending_appointments {
  height: 488px;
  overflow-y: scroll;
}
#pending_appointments::-webkit-scrollbar {
	width: 4px;
}
#pending_appointments::-webkit-scrollbar-thumb {
	background-color: rgba(251, 251, 251, 0.5);
	border-radius: 5px;
}
#pills-cirugia,
#pills-consultas,
#pills-personal,
#pills-cirugia-tab,
#pills-consultas-tab,
#pills-personal-tab {
  color: #757575;
}
#pills-cirugiaResume input,
#pills-consultasResume input,
#pills-personalResume input,
#pills-cirugia input,
#pills-consultas input,
#pills-personal input {
  color: #757575;
  border: none;
  font-size: 14px;
}
#pills-cirugiaResume p.resumeText,
#pills-consultasResume p.resumeText,
#pills-personalResume p.resumeText {
  border: none;
  color: #757575;
  font-size: 14px;
  margin-bottom: 0;
  padding: .375rem .75rem;
}
#pills-cirugia i,
#pills-consultas i,
#pills-personal i {
  color: #757575;
  font-size: 18px;
  padding: .375rem .1rem;
}
#pills-cirugiaResume i,
#pills-consultasResume i,
#pills-personalResume i {
  color: #757575;
  font-size: 18px;
  padding: .375rem .1rem;
}
#pills-cirugia textarea,
#pills-consultas textarea,
#pills-personal textarea {
  color: #757575;
  border: none;
  font-size: 14px;
  resize: none;
}
#pills-cirugiaResume textarea,
#pills-consultasResume textarea,
#pills-personalResume textarea {
  color: #757575;
  border: none;
  font-size: 14px;
  resize: none;
}
#pills-cirugia-tab.active,
#pills-consultas-tab.active,
#pills-personal-tab.active {
  background-color: rgba(250, 38, 127, 0.25);
  color: #FA267F;
}
#pills-cirugia .custom-control-label::before,
#pills-consultas .custom-control-label::before {
  background-color: white;
  border: 1px solid rgba(250, 38, 127, 0.25);
  border-radius: 0.15rem;
}
#pills-tabContentResume .resume {
  margin-left: 5%;
  width: 95%;
}
#resumeEventTitle {
  width: 100%;
}
#resumeEventTitle input {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
#resumeEventModal .modal-header button:nth-child(1) {
  margin-left: auto;
}
#resumeEventModal .modal-header .close {
  margin: -1rem -1rem -1rem 0;
}
.btn-google {
  color: #FFFFFF;
  text-align: left;
}
#settings.tab-pane.active {
  background-color: #FFFFFF;
  height: 92vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
#title_calendar_day .row,
#title_calendar_week .row {
  position: fixed;
  width: 74.195%;
  z-index: 9;
}
.card_appointments {
  background-color: rgba(51, 51, 51, 0.5);
  color: white;
  font-size: 14px;
  margin-bottom: .5rem;
  padding-bottom: 10px;
  padding-top: 10px;
}
.card_appointments button {
  font-size: 15px;
  padding: .25rem .85rem;
}
.card_appointments p {
  font-size: 15px;
}
.card_appointments i {
  font-size: 16px;
}
.color-icons-immer {
  color: #f22973;
}
.collapse-icon {
  color: rgba(51, 51, 51, 0.5);
  /* font-size: 25px; */
}
.cursor-pointer {
  cursor: pointer;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow:none !important;
}
.custom-control-label::before {
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, .8);
  border-radius: 0.15rem;
}
.day_schedule {
  font-size: 18px;
  font-weight: 600;
}
.event_cirugia {
  color: #E2DB2D;
}
.event_consulta {
  color: #2DE23F;
}
.event_personal {
  color: #2DE2D7;
}
.menuResumeEvent {
  color: #757575;
  padding: 0 .75rem .375rem .75rem;
}
.modal-footer {
  padding: 0 1rem 1rem;
  border-top: none;
}
.modal-header {
  padding: 1rem 1rem 0;
  border-bottom: none;
}
.nav-text {
  display: block;
  margin-bottom: 0;
  padding: .5rem 6px .5rem 1rem;
}
.navbar-back-menu i {
  color: #f22973;
  padding: .5rem 1rem .5rem 0;
}
.navbar-back-menu,
.navbar-toggler-left {
  background-color: transparent;
  border: none;
  outline: none!important;
}
.no-bxsha {
  box-shadow: none!important;
}
.no_pending_appointments p {
  color: #FFFFFF;
  text-align: center;
}
.time_schedule {
  text-transform: uppercase;
}
.titleResumeEventModal {
  color: #757575;
  margin-bottom: 0;
}
.video-text {
  color: #757575;
  font-size: 12px;
}
.video-text i {
  font-size: 15px;
  vertical-align: text-bottom;
}

@media (max-width: 767.98px) {
  #collapseMenuCalendar {
    min-height: 200px;
    width: 100%;
  }
  #collapseMenuCalendar.collapse:not(.show) {
    display: block;
    min-height: 50px;
    width: 100%;
  }
  #collapseMenuCalendar.collapse:not(.show) #myTab {
    justify-content: flex-end!important;
  }
  #collapseMenuCalendar.collapse:not(.show) #myTab li {
    width: auto;
  }
  #collapseMenuCalendar.collapse:not(.show) #myTab .nav-link {
    padding: .5rem 1.25rem;
  }
  #navbar-calendar .navbar-nav {
    flex-direction: row;
  }
  #navbar-calendar .dropdown-menu {
    float: left;
    min-width: 6rem;
    position: absolute;
  }
  #navbar-calendar .dropdown-item {
    padding: .25rem .5rem;
  }
}
